.input {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    border-radius: 5px;
    border: 1px solid #CBD5E2;
    border-radius: 4px;
    padding: 8px 8px 8px 16px;
    color: #20272E;
    width: 100%;
    order: 1;
    transition: .4s outline;
    &:focus {
       
        outline: 1px solid #3843ED;
    }
    &.s {
        font-size: 10px;
    }
}