.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    label {
        &::before {
            display: none !important;
        }
    }
    &__nav {
        color: #6D7895;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        border-bottom: 2px solid #CBD5E2;
        margin-bottom: 48px;
        & > div {
            padding-bottom: 8px;
            position: relative;
            cursor: pointer;
            &::after {
                content: '';
                background: #4E5AF2;
                height: 4px;
                width: 100%;
                position: absolute;
                right: 0;
                bottom: -1px;
                display: none;
                border-radius: 4px 4px 0px 0px;
            }
        }
        & > .active {
            &::after {
                display: block;
            }
        }
    }
}
.loginPage {
    display: flex;
    &__description {
        max-width: 600px;
        width: 100%;
        background: url('../../../public/img/Work.png')bottom  no-repeat, linear-gradient(180deg, #8892FF 0%, #6D6BE5 18.75%);
        background-size: contain;
        color: #fff;
        padding: 92px 40px 0px 64px;
        min-height: 100vh;

        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            img {
                margin-right: 10px;
            }
        }
        & > p {
            margin: 24px 0px 75px;
        }
    }
}
.login {
    max-width: 864px;
    width: 100%;
    display: flex;
    justify-content: center;
}